body{
    color: #1c324b;
    background: #e7e7e7;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    height: 60px;
    width:100%;
    background-color: #277976;
    
    
    
}
.proimage{
    height: 85%;
    width: 4%;
    margin-top: 4px;
    margin-left: 5px;
    
}
li{
    display: inline;
  
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}
.left{
    flex: 1;
    height: 100%;
    background-color: #bed96c;
    overflow: auto;
    padding: 15px;
    margin: 15px;
}
.left::-webkit-scrollbar {
    display: none;

}

.middle{
    flex: 2;
    padding: 15px;
   
}
.mdl{
    display: flex;
    flex-direction: column;
}

.right{
    flex: 1;
    height: 100%;
    background-color: #bed96c;
    overflow: auto;
    padding: 15px;
    margin: 15px;
}
.right::-webkit-scrollbar {
    display: none;

}


.frnd{
    height: 4%;
    width: 10%;
    border-radius: 50%;
    margin-top: 10px;
    cursor: pointer;
}
.frn{
    
    color: rgb(121, 112, 112);
    text-align: center;
    font-size: 30px;
}
.like{
    color: white;
}



.im {
    height: auto;
    vertical-align: middle;
    min-width: 100%;
   

}


 
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin-bottom: 6px;
    
   

  }
  
  .card_content {
    padding: 1rem;
    background-color: #277976;
  }
  
  .card_title {
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1px;
 
    margin: 0px;
  }
  
  .card_text {
    color: #ffffff;
    font-size: 0.175rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }
  
  .main{
      flex: 1;
      margin: 20px;
  }
  .lk{
      color: white;
      text-decoration: none;
      margin-left:  20px;
      cursor: pointer;
  }
  .icons{
      margin-top: 5px;
  }
  .days{
      margin-right: 20px;
  }
  .news{
      font-size: larger;
      color: #1c324b;
  }
  .trend{
      outline-width: 1px;
      outline-color: #1c324b;
      outline-style: ridge;
      margin-left: 4px;
      margin-right: 4px;
  }
  .commentarea{
      margin-top: 5px;
  }
  .cmt{
      border-radius: 0.25rem;
      
  }